.footer {
  flex-wrap: wrap;
  margin-top: auto;
  background: #f2f2f2;
}

.footer-link {
  display: inline-block;
  padding: 16px;
  color: #70757a;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-up {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #f2f2f2;
  font-size: 15px;
  color: #70757a;
  padding: 15px 30px;
  margin-top: auto;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #dadce0;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-right {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 795px) {
  .footer-down {
    justify-content: center;
  }

  .main {
    margin-bottom: 170px;
  }
}

@media only screen and (max-width: 512px) {
  .main {
    margin-bottom: 120px;
  }
}
